<!-- MapServer Template -->
      <tr>
        <td align="center">[lrn]</td>
        <td align="center">[cod_mun]</td>
        <td align="center">[nom_mun]</td>
        <td align="center">[tipo_adm]</td>
      </tr>

      <table align="center" cellpadding="3" cellspacing="0" border="0">
          <tr>
            <td><img border="2" src="[img]"></td>
          </tr>
          <tr>
            <th align="center">Vista Estandar de Consulta de Mapa</th>
          </tr>
          <tr>
            <td colspan="3" align="center">
                <a href="http://127.0.0.1/cgi-bin/mapserv.exe?map=/ms4w/apps/SGG115/SGG.map&mode=browse">Regresar</a>
            </td>
          </tr>
        </table>
