<!-- MapServer Template -->
<tr>
    
    <td align="center">[nom_mun]</td>
    <td align="center">[cant_hotel]</td>
    <td align="center">[porc_hotel] %</td>
    <td align="center">[tipo]</td>
  </tr>
  </tr>

  <table align="center" cellpadding="3" cellspacing="0" border="0">
      <tr>
        <td><img border="2" src="[img]"></td>
      </tr>
      <tr>
        <th align="center">Vista Estandar de Consulta de Mapa</th>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <a href="javascript: location.href=document.referrer;">Regresar</a>
        </td>
      </tr>
    </table>