<!-- MapServer Template -->
      <tr>
        <td align="center">[lrn]</td>
        <td align="center">[cod_dpto]</td>
        <td align="center">[nom_dpto]</td>
        <td align="center">[tipo_adm]</td>
      </tr>

      <table align="center" cellpadding="3" cellspacing="0" border="0">
          <tr>
            <td><img border="2" src="[img]"></td>
          </tr>
          <tr>
            <th align="center">Vista Estandar de Consulta de Mapa</th>
          </tr>
          <tr>
            <td colspan="3" align="center">
                <a href="javascript: location.href=document.referrer;">Regresar</a>
            </td>
          </tr>
        </table>
