<!-- MapServer Template -->
<tr>
    <td align="center">[lugar]</td>
    <td align="center">[nom_muni]</td>
    <td align="center">[direccion]</td>
    <td align="center">[categoria]</td>
  </tr>
  </tr>

  <table align="center" cellpadding="3" cellspacing="0" border="0">
      <tr>
        <td><img border="2" src="[img]"></td>
      </tr>
      <tr>
        <th align="center">Vista Estandar de Consulta de Mapa</th>
      </tr>
      <tr>
        <td colspan="3" align="center">
          <a href="javascript: location.href=document.referrer;">Regresar</a>
        </td>
      </tr>
    </table>
